<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Belatrix Evaluation" verbose="1" parallel="tests" thread-count="1" configfailurepolicy="continue">
    <test name="Search Products Test" annotations="JDK" preserve-order="true">
        <packages>
            <package name="tests"/>
        </packages>
    </test>
</suite>